:root {
    --custom: #0a4505;
}

.price-card{
    
}
.price-card .destination{

}

.custom{
    background-color:var(--custom);
    color:white;
  }

.price-table{
    height: auto;
    float:left;
}

.circle{
    height:15px;
    width: 15px;
    background-color:var(--custom);
    border-radius: 100%;
    float:left;
}

.line{
    margin-top:6px;
    height:3px;
    width:85%;
    background-color:var(--custom);
    float:left;
    }

.bg-login-image{
    background: url(../img/flight.jpg);
    background-repeat: no-repeat;
}

.calendar {
    display: flex;
    position: relative;
    
    margin: 0 auto;
    background: white;
    border-radius: 4px;
}

.month-year {
    position: absolute;
    top:300px;
    right: -27px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    color: #626c79;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.year {
    margin-left: 4px;
    color: #CBD5E1;
}

.days {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: 46px;

}


.day-label {
    position: relative;
    flex-basis: calc(14.286% - 2.5px);
    margin: 1px 1px 12px 1px;
    font-weight: 700;
    font-size: 0.65rem;
    text-align: center;
    text-transform: uppercase;
    color: #1E293B;
}

.day {
    position: relative;
    flex-basis: calc(14.286% - 2.5px);
    cursor: pointer;
    font-weight: bold;
    color: #1E293B;
    border-right:solid 0.5px #626c79;
    border-top:solid 0.5px #626c79;
}

.day.dull {
    color: #b9c8de;
}

.day.today {
    color: #0EA5E9;
    font-weight: 600;
}



.day:hover {
    background: #E0F2FE;
}

.day .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender-box{
    height: 100px;
    
}

.dates{
    
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: auto;
    border-left:solid 0.5px #626c79;
    border-bottom:solid 0.5px #626c79;
}

.bootstrap-datetimepicker-wigdet{
    display:block;
}

#wallet-box{
}

#wallet-box:hover .card .card-body{
    
    cursor: pointer;
}

.onoffswitch4 {
    position: relative; width: 90px;
    border-radius: 2px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch4-checkbox {
    display: none;
}

.onoffswitch4-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 1px solid #b9c8de; 
    border-radius: 20px;
}

.onoffswitch4-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before, .onoffswitch4-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 28px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    background-clip: padding-box;
}

.onoffswitch4-inner:before {
    content: "Opened";
    padding-left: 10px;
    background-color: var(--success); color: #fff;
}

.onoffswitch4-inner:after {
    content: "Closed";
    padding-right: 10px;
    background-color: var(--danger); color: #fff;
    text-align: right;
}

.onoffswitch4-switch {
    display: block; width: 25px; margin: 0px;
    background: #fff;
    border:1px solid #d1d3e2;
    border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 65px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}


.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-inner {
    margin-left: 0;
}

.onoffswitch4-checkbox:checked + .onoffswitch4-label .onoffswitch4-switch {
    right: 0px; 
}

